<div>
  <div class="blog-header-top">

  </div>
  <!-- 左边历史文章 -->
  <div class="blog-left-side">
    <div class="blog-title">
      目录标题
    </div>
    <div>
      <li *ngFor="let title of titles; index as i">
        {{title}}
      </li>
    </div>
  </div>
  <!-- 右边新颖文章 -->
  <div class="blog-right-side">
    <div class="blog-header">
      <span>标题: </span>
      <input type="text"/>
    </div>
    <div class="blog-content">
      <p>
        正文:
      </p>
      
    </div>
    <div class="blog-input">
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <div>
          <button class="btn-blog-submit">
            提交
          </button>
        </div>
    </div>
  </div>  
</div>
