.blog-header-top {
    width: 100%;
    height: 80px;
    background-color: #cd7bdd;
}
.blog-left-side {
    float: left;
    width: 30%;
    height: 920px;
    background-color: #DCDCDC;
    border-right: 1px solid black;
    padding-left: 10px;
}
.blog-left-side li {
    line-height: 2em;
}

.blog-right-side {
    float: left;
    margin-left: 20px;
    padding-left: 80px;
    /* border-left: 1px solid #333; */
    width: 60%;
    height: 920px;
}
.blog-title {
    margin: 20px;
    text-align: center;
}
.blog-header input{
    width: 300px;
    height: 2em;
    margin-left: 10px;
    margin-top: 5px;
}
.blog-content {
    width: 75%;
    min-height: 100px;
}
.blog-input {
    margin-left: 50px;
}
.blog-input textarea {
    width: 80%;
    font-size:20px;
    font-family: "KaiTi";
}
.blog-input button {
    margin-top:10px;
    
}
.btn-blog-submit {
    width:163px;
    height: 47px;
    margin-left: 10px;  
}

.blog-title {
    cursor: pointer;
}
.blog-title:hover {
    color: blue;
}

.blog-header-box {
    text-align: center;
    padding-top: 10px;
}

#blog-comment h3 {
    text-align: center;
    border-bottom: 1px black solid;
}

.button-right {
    float: right;
}
.blog-error {
    color: red;
}
.blog-btn {
    margin: 5px;
}
#blog-comment-outter {
    /* border: 1px black solid; */
    max-height: 800px;
    position: relative;
    top: 200px;
}
.blog-comment-content {
    margin-left: 50px;
}
.blog-comment-title {
    border-bottom: 1px dashed;
    font-size: 23px;
    font-style: italic;
}
.button-right {
    float: right;
}
.btn-comment {
    margin-left: 20px;
}
.comment-delete-x {
    float: right;
    cursor: pointer;
    color: red;
    font-size: 20px;
}
.comment-delete-x:hover {
    color: blue;
}

