<div class="home-center-background">
  <div class="select-entrance" style="background-color: blue">
    <div (click)='toChildModule("calendar")' class="choose-module" style="background-color: red">
      <span class="choose-module-span">Calendar</span>
    </div>
    <div (click)='toChildModule("blog")' class="choose-module" style="background-color: green">
      <span class="choose-module-span">Blog</span>
    </div>
    <div (click)='toChildModule("future")' class="choose-module" style="background-color: blue">
        <span class="choose-module-span">Future</span>
    </div> 
  </div>
</div>

